<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- COLLEGO VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- COLLEGO CSS -->
    <link rel="stylesheet" href="style/style.css">
    <title></title>
  </head>
  <body>
    <div id="app">
      <h1>{{title}}</h1>
      <!-- IMMETTI NUOVA AZIONE -->
      <input type="text" placeholder="Scrivi nuovo ToDo" v-model="inputVal">
      <!-- AL CLICK AGGIUNGI AZIONE AL MIO ARRAY-->
      <button type="button" @click="pushInArray">Aggiungi ToDo</button>
      <ul>
        <li
          v-for="(item, index) in list" :key="item.message"> {{item.message}} <span @click="removeFromArray(index)">X</span>
        </li>
      </ul>
    </div>
    <script src="js/myscript.js" charset="utf-8"></script>
  </body>
</html>
